#header{
 background-color: rgba(0, 0, 0, 0.5); 
  margin-bottom: 10px;
  height: 50px;
  width: 100%; 

}
header a.button {
  background-color: #fff;
  color: black;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
font-family: fantasy;
text-transform: uppercase;
}
a.button:hover{
  color: #8D8D8D;
}
header p {
font-family: fantasy;
font-size: 20px;
display: inline-block;
font-weight: 900
}
nav u1 {
display: inline-block;
float: left;
}
nav u2 {
float: right;
display: inline-block;
}
main {
clear: both;
font-family: fantasy;
text-transform: uppercase;
padding: 20px;
}
.container {
    position: relative;
    text-align: center;
    color: white;
}
.container img {
 filter: opacity(60%);
}
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
font-family: fantasy;
font-size: 100px;
color: #474747;
}
section {
  background: #fff;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 8px;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.4);
}
